body{
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  background-image: url("/img/brique_background.png"); 
  background-repeat: repeat-x repeat-y;
  background-color: grey;
}
/* Début accueil */


main{
  color: black;
  margin: 0 auto;
  width: 100%;  
  height: 100%;
}  

#background1{
  background-image: url("../../../img/Background-04.webp");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: contain;
  background-position: center top;

}

#faq_formulaire{
  display: flex;
  justify-content: center;

}

.title_left{
  width: 570px;
  height: 30px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 15px;
  font-weight: bold;
  display: flex;
  margin-bottom: 15px;

}



.active, .questions_ask:last-of-type{
  margin-bottom: 900px;

}

.active, .title_left2{
  display: block;
  margin-top: -90px;
}


/*  accordion */

.accordion {
  border: none;
  transition: 0.4s;
  width: 590px;
  height: 50px;
  background-color: black;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 20px;
  display: block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


/*  */

.title_commande{
  width: 570px;
  height: 30px;
  padding-left: 20px;
  padding-top: 15px;
  color: white;
  background-color: #E156A0;
  font-size: 14px;
}

.questions_ask{
  width: 590px;
  height: 180px;
  background-color: white;
  margin-bottom: 20px;
}

.questions_ask p{
  width: 500px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 12px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

/* Formulaire & cie */

.title_right{
    width: 380px;
    height: 30px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;

}

#formulaire{
  width: 400px;
  height: 505px;
  background-color: white;
  display: flex;
  margin-left: 100px;
}

.content_formulaire{
  justify-content: center;
}

p{
  width: 350px;
  height: 60px;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulaire_descriptif{
  margin-top: 15px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;  
  font-family: 'Courier New', Courier, monospace;
}

#name{
  margin-bottom: 20px;
  width: 350px;
  height: 20px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#prenom{
  margin-bottom: 20px;
  width: 350px;
  height: 20px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#email{
  margin-bottom: 20px;
  width: 350px;
  height: 20px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#commentaires{
  margin-bottom: 10px;
  width: 350px;
  height: 150px;
  border: 2px solid black;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  resize: none;
}

.bordure2{
  border: 1px solid #EBEBEB;
  width: 360px;
  margin: 0 auto;
}


.send_me{
  width: 280px;
  height: 35px;
  color: white;
  padding-top: 5px;
  background-color: #E156A0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  
}

.send_me a{
  text-decoration: none;
  color: white;
}

.send_me:hover{
  transition: background-color ease-in-out 0.8s, color ease-in .4s .6s; 
  background-color: #83315d;
  cursor: pointer;

}

.send_me:active {
  background-color: #83315d;
  box-shadow: 0 5px rgb(151, 151, 151);
  transform: translateY(4px);
}
