@import url('normalize.css');
@import url('variables.css');


/* 
  Global CSS
*/

.active a{
  color: var(--lead-secondary);
}

a  {
  color: #E156A0;
}

/*   Main Body / Background */

body{
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  color: black;
  padding:0;
  background-position: center;
  background-image: url("../../img/brickwall.png");
}

.background_plantes{
  background-image: url("../../img/background/bg_plantes.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 70% ;
  background-attachment:local;
}

.background_lampes{
  background-image: url("../../img/background/bg_lampes.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50% ;
  background-attachment:local;
}

.background_planche{
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  height: 220px;
  align-items: center;
}

.background_map{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  height: 370px;
  margin-top: -410px;
  padding-right: 100px;
  margin-left: -1300px;
}

.background_planche_contact{
  margin-top: 40px;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  height: 220px;
  align-items: center;
}

.background_planche_about{
  margin-top: 40px;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  height: 220px;
  align-items: center;
  margin-bottom: -40px;
}



.background_contact{
  margin-top: -350px;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Début accueil */

/* Section About me  */
 
#about_me{
  text-align: center;
  justify-content: center;
  display: block;
  position: relative;
  width: 100%;
}

.humour {
  justify-content: center;
  width: 490px;
  height: 137px;   
  padding-top: 60px;
}

.taped_accueil{
  width: 90px;
  height: 20px;
  background-color: #FFF5C3;
  opacity: 70%;
  display: flex;
  margin-left: 90px;
  margin-top: -10px;
}

#polaroid{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pola_background:hover {
  transform: rotate(2deg);

}

.pola_background{
  width: 245px;
  height: 210px;
  background-color: white;
  margin-left: 15px;
  transition: .2s ease-in-out;
}

.pola_background:first-of-type{
  margin-left: 0px;
}

.pola_background span{
    margin: 175px;
    display: flex;
    font-weight: 16px;
}

.pola_background a {
  text-decoration: none;
  color: #000000;
}

.Lilo {
  width: 244px;
  height: 190px;
  justify-content: center;
  display: flex;
  margin-top: -8px;
  background-image: url("/img/Lilo.png");
}


.Bijoux {
  width: 244px;
  height: 190px;
  justify-content: center;
  display: flex;
  margin-top: -8px;
  background-image: url("/img/Lilo_bijoux.png");
}
.Badges {
  width: 244px;
  height: 190px;
  justify-content: center;
  display: flex;
  margin-top: -8px;
  background-image: url("/img/Lilo_badges.png");
}
.Papeterie {
  width: 244px;
  height: 190px;
  justify-content: center;
  display: flex;
  margin-top: -8px;
  background-image: url("/img/Lilo_papeterie.png");
}

/* Section boutique saisonnière */

/* Contenu boutique */

#boutique_saisons{
  margin-top: 60px;
}

.offres_container{
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
}

.offres{
  margin-left: 20px;
  width: 335px;
  height: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .2s ease-in-out;
  box-shadow:  0px 5px 9px 0px #a7a7a79a;
}

.offres:hover{
  transform: scale(1.03);
}

.offres:first-of-type{
  margin-left: 0px;
}

.title_accueil{
  width: 1030px;
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  font-size: 18px;
}

.product{
  font-size: 12px;
  margin-left: 12px;
  margin-top: 12px;
}

.description{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  display: block;
  width: 320px;
}

.price{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.price:last-of-type{
  margin-bottom: 15px;
}


/* space-between met de l'espace entre chacune d'elle  */

.produit{
  border-radius: 110px;
  width: 220px;
  height: 220px;
  margin-left: 50px;  
}

.wishlist{
  width: 27px;
  height: 25px;
  position: absolute;
  margin-top: -25px;
  margin-left: 290px;
  background-image: url("../../img/Wishlist-icon.png");
  background-repeat: no-repeat;
  transition: .1s ease-in;
}

.wishlist:hover{
  width: 27px;
  height: 25px;
  background-image: url("../../img/wishlist.svg");
  filter: invert(0.5) sepia(1) saturate(68) hue-rotate(300deg);
}

.wishlist:active{
  width: 27px;
  height: 25px;
  background-image: url("../../img/wishlist.svg");
  filter: invert(0.5) sepia(1) saturate(68) hue-rotate(300deg);
}

/* bouton panier */

.button_panier {
  width: 335px;
  height: 41px;
  color: white;
  background-color: #E156A0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: .2s ease-in-out;
}

.button_panier span{
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.button_panier img{
  width: 20px;
  height: auto;
  margin-left: 0px;
  margin-top: -4px;
  border-radius: 0px;
}

.button_panier a{
  text-decoration: none;
  color: white;
}

.button_panier:hover{
  background-color: #bb4c87;
  cursor: pointer;
}

.button_panier:active {
  background-color: #81385f;
}

/*  Section Agenda rdv */

.agenda_rdv .title{
  margin-bottom: 60px;
}

figure .taped{
  width: 90px;
  height: 30px;
  background-color: #FFF5C3;
  opacity: 70%;
  display: flex;
  margin-left: 120px;
  margin-top: -15px;
  position: absolute;
}

.agenda_rdv .wrapper{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.agenda_rdv article {
  margin-left: 10px;
  flex-basis:25%;
  position: relative;
}

.agenda_rdv article:last-child {
  margin-right: 0;
}

.agenda_rdv .date {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 40px;
  padding: 10px 5px;
  background: rgba(62, 62, 62, .7);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.agenda_rdv .date span {
  display: block;
}

.agenda_rdv .date .jour {
  color: #fff;
  font-size: 18px;
  font-weight: bold;

}

.agenda_rdv .date .mois {
  color: #fff;
  font-size: 12px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #83315d;
}

.descriptif {
  margin-left: 30px;
  font-size: 14px;
  display: block;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.descriptif img{
  width: 12px;
  height: auto;
}

.agenda_rdv figure {
  width: 327px;
  height: 340px;
  background-color: white;
  margin: 10px;
  margin-bottom: 50px;
  box-shadow:  0px 5px 9px 0px #a7a7a79a;
}

.Button_Voir{
  margin-left: 250px;
  margin-top: 10px;
  display: block;
  color: #E156A0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: .1s ease-in-out;
}

.Button_Voir:hover{
  color:#83315d;
}

.button_event {
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  height: 40px;
  color: #000000;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: .1s ease-in-out;
}

.button_event span{
  display: flex;
  align-items: center;
}

.button_event a{
  text-decoration: none;
  color: white;
}

.button_event:hover{
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

/* Fin de la page Accueil index */

/* DEBUT ABOUT ME HTML */


#background_about{
  margin: 0 auto; 
}

.title{
  width: 370px;
  height: 40px;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;

}

#content_about{
  display: flex;
  justify-content:center;
  margin-bottom: 100px;
}

.polaroid_bg .taped{
  width: 120px;
  height: 45px;
  background-color: #FFF5C3;
  opacity: 60%;
  display: flex;
  margin-left: 160px;
  margin-top: -20px;
  transform: rotate(-5deg);
}

.lilo_about{
  width: 390px;
  height: 550px;
  background-color: white;
  font-size: 12px;
  margin-left: 25px;
  position: relative;
}

.lilo_about p{
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}


#signature{
  display: flex;
  margin-left: 200px;
  margin-top: 40px; 
}


.doigts{
  margin-left: 390px;
  margin-top: -160px;
  position: absolute;
}

.plantes{
  justify-content: center;
  position: flex;
  margin-top: -200px;
  margin-left: -410px;
}

.polaroid_bg{
  width: 440px;
  height: 340px;
  background-color: white;
  margin-left: 15px;    
  margin-left: 250px;
  transition: .5s ease-in-out;
  transform: rotate(5deg);
  text-align: center;
  
}

.polaroid_bg:hover{
  transform: rotate(-5deg);
}

#its_me{
  display: flex;
  margin-left: -220px;
  margin-top: 50px;
}

#polaroïd_fixed{
  position: relative;
  justify-content: center;
}

.polaroid_bg_mini_1{
  width: 260px;
  height: 210px;
  background-color: white;
  transition: .5s ease-in-out;
  text-align: center;
  position:absolute;
  transform: rotate(-5deg);
  top: 400px;
  justify-content: center;
  left: -500px;
  
}

.polaroid_bg_mini_2{
  width: 240px;
  height: 220px;
  background-color: white;
  transition: .5s ease-in-out;
  text-align: center;
  display: flex;  
  transform: rotate(5deg);
  position: absolute;  
  top: 400px;
  left: -150px;
  justify-content: center;
  
}

.taped_mini1{
  width: 120px;
  height: 45px;
  background-color: #FFF5C3;
  opacity: 60%;
  display: flex;
  margin-top: -20px;
  margin-left: 70px;
  transform: rotate(-5deg);
  
}

.taped_mini2{
  width: 120px;
  height: 50px;
  background-color: #FFF5C3;
  opacity: 60%;
  margin-top: -20px;
  margin-left: 60px;
  transform: rotate(5deg);
  
}

.polaroid_bg_mini_1:hover{
  transform: rotate(5deg);
}

.polaroid_bg_mini_2:hover{
  transform: rotate(-5deg);
}

.carte_papet img{
  width: 200px;
}

.carte_papet{
  position: flex;
  margin-left: -170px;
  margin-top: 20px;
}

.bijoux_img img{
  width: 200px;
}

.Lilo_face{
  justify-content: center;
}

.Lilo_face img{
  width: 420px;
  height: 300px;
  object-fit: contain;
  margin-left: 5px;
  margin-top: -200px;
}

/* FIN ABOUT ME HTML */

/* Début de la page Atelier css  */

#ateliers_bg{
  height: 1300px;
}

.galerie1{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.title_atelier{
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  font-size: 18px;
}


#atelier_créatif {
  background-color: white;
  width: 875px;
  height: 150px;
  margin: 0 auto;
}

#content_atelier{
  margin: 0 auto;
  height: 800px;
}

#atelier_créatif .title{
  width: 855px;
}

#atelier_créatif span{
  padding: 15px 15px 0px 15px ;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.galerie_background{
  width: 220px;
  height: 200px;
  background-color: white;
  margin-left: 15px;
}

#content_atelier .taped{

  width: 80px;
  height: 20px;
  background-color: #FFF5C3;
  opacity: 70%;
  display: flex;
  margin-left: 65px;
  margin-top: -10px;
  transform: rotate(5deg);
}

.atelier_img{
    height: 190px;
    justify-content: center;
    display: flex;
}

.atelier_img img{
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.polaroid_rangee{
  display: flex;
  margin-top: 250px;
  margin: 0 auto;
}


/*-- LES NEWS (news/agenda.html) --*/
.news_zone {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.newsBloc, .newsBloc_small, .newsBloc_fakeMove {
  background-color: #ffffff;
  width: 512px;
  height: auto;
  margin-top: 50px;
  margin-left: 25px;
}

.newsBloc_small {
 margin-bottom: 50px;
 height: 270px;
}

.newsBloc_small p {
  padding-left: 20px;
  width: 480px;
}

.newsTitle {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.newsBloc_fakeMove {
  margin-top: -150px;
  float: right;
  height: 471px;
}

.newsIllustration {
  background-color: #949494;
  background-image: url(/img/news/header_news01.jpg);
  height: 312px;
}

.newsIllustration1 {
  background-color: #949494;
  background-image: url(/img/news/header_news02.jpg);
  height: 312px;
}

.title_agenda{
  width: 1030px;
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  font-size: 18px;
}


.articleButton {
  background-color: #ffffff;
  border: 2px #000000 solid;
  text-transform: uppercase;
  padding: 7px 14px 7px 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.articleButton:hover {
  background-color: #000000;
  color: #ffffff;
}

.article_infos, .article_infos_small {
  font-size: 14px;
  float: left;
  margin-bottom: 15px;
}

.article_infos, .article_infos_small {
  padding-left: 20px;
}

.share_social, .share_social_small {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.share_social img {
  margin-right: -5px;
}

.articles_scotch_topLeft, .articles_scotch_bottomRight {
  background-image: url(/img/news/sticker02_bg.png);
  width: 43px;
  height: 55px;
  position: absolute;
  display: flex;
  margin-left: -20px;
  margin-top: -10px;
}

.articles_scotch_left, .articles_scotch_right  {
  background-image: url(/img/news/sticker01_bg.png);
  width: 23px;
  height: 73px;
  position: absolute;
  display: flex;
  margin-left: -12px;
  margin-top: 125px;
}

.articles_scotch_right {
  margin-left: 500px;
  margin-top: 125px;
}




.articles_scotch_bottomRight {
   margin-left: 490px;
}

/*--- ARTICLES  (article.html) --*/
.articles_container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  height: 1330px;
  width: 1050px;
}

.articles_scotch {
  background-image: url(/img/news/sticker_bg.png);
  width: 251px;
  height: 35px;
  position: absolute;
  display: flex;
  margin-left: 378px;
  margin-top: -20px;
}

.articles_titles {
  background-color: #000000;
  width: 844px;
  color: #ffffff;
  float: left;
  margin-top: 352px;
  margin-left: 90px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.articles_illustrations {
  background-color: #949494;
  background-image: url(/img/news/header_news01.jpg);
  object-fit: cover;
  height: 380px;
}

.articles_box {
  width: 840px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  font-size: 16px;
}

.articles_box img {
  height: 250px;
  float: left;
  margin-top: 10px;
  padding: 10px 10px 10px 0px;
}

.articles_back {
  border: 2px #000000 solid ;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 7px 13px 7px 13px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-top: 50px;
  margin-bottom: 60px;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.articles_back:hover {
  background-color: #000000;
  color: #ffffff;
}

.articles_infoShare {
  float: right;
  margin-top: 40px;
}

.articles_infoShare p {
  padding-right: 0;
}

.articles_infoShare img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.articles_infoShare ul{
  margin-top:-65px;
  float: right;
  padding-left: 370px;
}

.articles_infoShare li{
  display: inline;
}

.btn_event_na {
  margin-bottom: 30px;
}

/* Fin News-Agenda / Agenda / Article HTML */

/*  Début Point de Ventes HTML */

/* Section */

#point_ventes{
  background-color: white;
  width: 1050px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#point_ventes p{
  margin-top: 10px;
  margin-left: 40px;
}


/* Titre */

.title_ventes{
  width: 1010px;
  height: 30px;
  background-color: black;
  color: white;
  padding-left: 40px;
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 25px;
}

/* Content */

.partenaires{
  margin-left: 40px;
  margin-top: 40px;
  column-rule: 1px solid #E3E3E3;
  column-count: 3;
  column-gap: 20px;
  column-fill: balance;
  width: 940px;
  height: 460px;
  justify-content: space-between;
}

h4{
  color: #E156A0;
  display: flex;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.localisation img{
  display: flex;
  height: auto;

}

.localisation{
  font-size: 12px;
  display: flex;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.partenarias {
  display: block;
  position: absolute;
  margin-left: 95px;
  margin-top: 50px;
  white-space: pre;
  text-align: left;
}

#creations {
  margin-left: 600px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#arrow{
  margin-left: 750px;
}

.button_contact {
  width: 335px;
  height: 40px;
  color: white;
  background-color: #E156A0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 600px;  
  cursor: pointer;
}

.button_contact span{
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.button_contact:hover{
  background-color: #bb4c87;

}

.button_:focus {
  background-color: #81385f;
}

/* Fin Point de vente HTML  */

/* Début Contact HTML */

#faq_formulaire{
  display: flex;
  justify-content: center;

}

#foire_questions{
  margin-left: 40px;
}

.title_left{
  width: 570px;
  height: 30px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 13px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  margin-bottom: 15px;
}


/*  accordion */
.accordion {
  border: none;
  transition: 0.4s;
  width: 590px;
  height: 50px;
  background-color: black;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 20px;
  display: block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.title_commande{
  width: 570px;
  height: 30px;
  padding-left: 20px;
  padding-top: 15px;
  color: white;
  background-color: #E156A0;
  font-size: 14px;
  font-weight: bold;
}

.questions_ask{
  width: 590px;
  height: 180px;
  background-color: white;
  margin-bottom: 20px;
}

.questions_ask p{
  width: 500px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
  display: block;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Formulaire & cie */

.title_right{
    width: 380px;
    height: 30px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;

}

#formulaire{
  width: 400px;
  height: 540px;
  background-color: white;
  display: flex;
  margin-left: 100px;
}

.content_formulaire{
  justify-content: center;
}

.ask_it{
  width: 350px;
  height: 60px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  margin-bottom: 10px;
}

.formulaire_descriptif{
  margin-top: 5px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;  
  font-family: 'Courier New', Courier, monospace;
}

#name{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#prenom{
  margin-bottom: 20px;
  width: 350px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#email{
  margin-bottom: 20px;
  width: 350px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

#commentaires{
  margin-bottom: 10px;
  width: 350px;
  height: 150px;
  border: 2px solid black;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  resize: none;
}

.bordure2{
  border: 1px solid #EBEBEB;
  width: 360px;
  margin: 0 auto;
}

.send_me{
  width: 280px;
  height: 35px;
  color: white;
  padding-top: 5px;
  background-color: #E156A0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  transition: .2s ease-in-out;
}

.send_me a{
  text-decoration: none;
  color: white;
}

.send_me:hover{
  background-color: #bb4c87;
  cursor: pointer;
}

.send_me:focus {
  background-color: #81385f;
}

/*  FIN CONTACT HTML */


/*  Début Maintenance HTML */
.maintenance{ 
  margin: 0 auto;
  background-size: cover; 
  font-size: 20px;
  font-family: 'Courier New', Arial, Courier, monospace;
  font-weight: bold;
  color: #000000;
  justify-content: center;
  text-align: center;
  background-position: center top;
}

.logo_main{
  padding-top: 100px;
}

.logo_maintenance{
  padding-top: 100px;
}

.maintenance h1 a{
  color: #000000;
  text-decoration: none;
}

.maintenance h1 a:hover{
  color: #83315d;
  text-decoration: none;
}

.not_found h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.notfound p {
  margin-bottom: -20px;
  line-height: 40px;
}

/* RESEAUX SOCIAUX */
.footerNetwork {
  text-align: center;
  margin-left: -40px;
}

.follow  { 
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
}

#socialNetwork li {
  display: inline-block;
  margin-top: 12px;
}

.iconColor {
  transition: .1s ease-in-out;
}

.iconColor:hover { 
  filter: invert(0.5) sepia(1) saturate(2) hue-rotate(285deg);
}

.not_found a{
  text-decoration: none;
  color: #E156A0;
}

/* FIN MAINTENANCE HTML */

/* DEBUT 404 NOT FOUND HTML */

.not_found{
  width: 1050px;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.not_found h1{
  font-size: 90px;
  font-weight: bold;
  color: #3D3C3C;
  margin: 0 auto
}

.not_found p{
  font-weight: bold;
}

.not_found a{
  width: 200px;
  height: 35px;
  border: 1px solid black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

.not_found a:first-of-type{
  margin-left: 0px;
}

.not_found a:hover{
  color: white;
  border: none;
  background-color: #E156A0;
}

/* FIN NOT FOUND HTML  */

/* DEBUT RGPD CGU CGV CONDITIONS HTML  */

#backgroundplan{
  background-image: url("../../../img/feuille_lampe.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: contain;
  background-position: center top;
}

#Conditions_ventes{
  background-color: white;
  width: 1050px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}

.content_conditions{
  background-color: white;
  margin-bottom: 40px;
}

.title_conditions{
  width: 1030px;
  height: 30px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 15px;
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 25px;
}

.paragraphe{
width: 900px;
margin-left: 80px;
display: block;
margin-bottom: 15px;  
text-overflow: ellipsis;
font-family: Arial, Helvetica, sans-serif;
}

.paragraphe:last-of-type{
margin-bottom: 25px;
}

.paragraphe_content{
margin-top: 10px;
display: block;
}

.paragraphe_sous_content{
margin-top: 10px;
display: block;
}

h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

/* FIN RGPD CGU CGV HTML */


/*-- OVERLAY RECHERCHE  (Recup code à gauche et à droite désolé) --*/
#overlaySearch {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 2;
}

.overlay {
  margin-top: 10px;
}

.overlayClose {
display: flex;
justify-content: right;
margin-top: 50px;
margin-right: 300px;
cursor: pointer;
transition: .2s ease-in-out;
}

.overlayClose:hover {
  opacity: 0.33;
}

/*-- Recherche  --*/
.searchBar_shop {
  text-align: center;
}

input[type="search"] {
  font-size: 14px;
  color: #333; 
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box; 
  width: 800px;
  height: 40px;
  padding-left: 15px;
  border: none;
  box-shadow:  0px 1px 9px 0px #a7a7a79a;
  outline: none;
  margin-bottom: 30px;
}

.shopSearch {
  position: absolute;
  border: none;
  margin-left: -45px;
  margin-top: 5px;
  background-color: #ffffff;
  cursor: pointer;
  width: 20px;
}

.shopSearch img {
  width: 20px;
  margin-top: 3px;
}

.shop_offres_container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Contenu produit - recherche */
.wishlist_container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.wishlist_offres {
  margin-left: 25px;
  width: 193px;
  height: 260px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  box-shadow:  0px 5px 9px 0px #a7a7a79a;
  transition: .2s ease-in-out;
}

.wishlist_offres:hover {
  transform: scale(1.03);
}

.wishlist_offres:first-of-type{
  margin-left: 0px;
}

.wishlist_offres a {
  text-align: center;
}

.wishlist_product {
  font-size: 12px;
  margin-left: 12px;
  margin-top: 12px;
}

.wishlist_description {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  width: 186px;
}

.wishlist_price{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wishlist_produit {
  border-radius: 110px;
  width: 112px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;  
}

.wishlist_wishlist {
  width: 16px;
  height: 15px;
  position: absolute;
  margin-left: 160px;
  margin-top: -16px;
  background-image: url("../../img/defaultWishlist.png");
  background-repeat: no-repeat;
}

/* bouton panier */
.wishlist_button_panier {
  width: 193px;
  height: auto;
  color: white;
  background-color: #E156A0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.wishlist_button_panier span {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wishlist_button_panier img {
  width: 12px;
  height: auto;
  margin-left: 0px;
  margin-top: -2px;
  border-radius: 0px;
}

.wishlist_button_panier a {
  text-decoration: none;
  color: white;
}

.wishlist_button_panier:hover {
  background-color: #bb4c87;
  cursor: pointer;
}

.wishlist_button_panier:active {
  background-color: #83315d;
}

.wishlist_button_rupture {
  width: 193px;
  height: auto;
  color: white;
  background-color: #000000;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.wishlist_button_rupture span {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/*-- FIN OVERLAY RECHERCHE --*/